<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blog</title>
</head>

<body>

<ul class="nav nav-tabs justify-content-center p-2 my-2">
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link active" href="/addpost">Create Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/getallposts/0/?sortby=">All Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/logout">logout</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/profile">[[${name}]]</a>
    </li>
</ul>

<div class="container h-100">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-12 col-md-8 col-lg-6">
            <form th:action="${post == null}?'savePost':'/updatePost/'+${post.id}" method="POST">
                <div class="form-group">
                    <label for="name">name</label>
                    <input th:value="${post != null}?${post.author.name}:${user.name}" name="name" type="text"
                           class="form-control"
                           id="name" placeholder="Enter Name Here" th:readonly="${!admin}">
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input th:value="${post!=null}? ${post.author.email}:${user.email}" type="email" name="mail"
                           class="form-control"
                           id="email" aria-describedby="emailHelp"
                           placeholder="Enter email" th:readonly="${! admin}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input th:value="${post!=null}? ${post.title}" name="title" type="text" class="form-control"
                           id="title" placeholder="enter title">
                </div>

                <div class="form-group ">
                    <label for="blog">Blog</label>
                    <textarea name="blog" class="form-control" id="blog" placeholder="write your blog here"
                              style="height: 250px;">[[${post!=null}?${post.content}]]</textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button id="addTag" class="btn btn-outline-secondary" type="button">Add more Tag</button>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1">
                </div>

                <div id="tags">
                    <span th:if="${post!=null}">
                        <div th:each="postTag:${post.tags}" class="form-check from-check-inline">
                            <input class="form-check-input" type="checkbox" th:id="${postTag.tags.name}"
                                   th:value="${postTag.tags.name}" name="tags" checked>
                            <label class="form-check-lable">[[${postTag.tags.name}]]</label>
                        </div>
                    </span>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="Publish" name="publish" value="publish"
                           th:checked="${post!=null}?${post.Published}:false">
                    <label class="form-check-label" for="Publish">Publish</label>
                </div>

                <div class="row justify-content-center align-items center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/tagRelatedFunction.js}"></script>
</body>
</html>