<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymleafe.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>

<ul class="nav nav-tabs justify-content-center p-2 my-2">
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link " href="/addpost">Create Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/getallposts/0/?sortby=">All Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/home">Home</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/logout">logout</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/profile">[[${name}]]</a>
    </li>
</ul>

<h1 class="display1">welcome to blog application</h1>

<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-info">You have successfully registered to our app</div>
    </div>
    <h1 class="text-center my-3">Registration</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-9 col-md-6 col-xl-4">
            <form th:action="@{/registerUser}" method="post" th:object="${user}">
                <div class="form-group">
                    <label for="username" class="label-control">User Name</label>
                    <input id="username" class="form-control" th:field="*{name}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="email" class="label-control">User Email</label>
                    <input id="email" class="form-control" th:field="*{email}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="label-control">User Password</label>
                    <input type="password" id="password" class="form-control" th:field="*{password}" required autofocus>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{role}" name="role" id="role2" value="auther" checked>
                    <label class="form-check-label" for="role2">Auther</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{role}" name="role" id="role1" value="admin">
                    <label class="form-check-label" for="role1">Admin</label>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit">Register</button>
                    <span>Already register? <a th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>