<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <h1>user login page</h1>

            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        incorrect user name or password
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        you have been loged out
                    </div>
                </div>
                <div class="form-group">
                    <lable class="control-label" for="username">Enter user Email</lable>
                    <input class="form-control" type="text" id="username" name="username">
                </div>

                <div class="form-group">
                    <lable class="control-label" for="password">Enter user Password</lable>
                    <input class="form-control" type="password" id="password" name="password">
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-4">
                        <input class="form-control btn btn-primary" type="submit" id="login-submit" value="Log in">
                    </div>
                    <span>new user? <a th:href="@{/home}">register here</a> </span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>