<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blog</title>
</head>
<body>
<ul class="nav nav-tabs justify-content-center p-2 my-2">
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link " href="/addpost">Create Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/getallposts/0/?sortby=">All Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/home">Home</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link " href="/logout">logout</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/profile">[[${name}]]</a>
    </li>
</ul>
<div th:if="${!published}">
    <div class="alert alert-danger display-3 text-center">post not published by auther</div>
</div>
<div th:if="${published}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="card border-dark mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h3 th:text="${post.title}" class="card-title"></h3>
                    </div>
                    <div class="card-body text-primary">
                        <div class="d-flex justify-content-between p-2">
                            <h4 th:text="${post.author.name}"></h4>
                            <div class="d-flex flex-column align-items-end">
                                <span>Published at: <span th:text="${post.publishedAt}"></span></span>

                                <span>Last Updated: <span th:text="${post.updatedAt}"></span></span>
                            </div>
                        </div>
                        <p th:text="${post.content}" class="card-text"></p>
                    </div>
                    <div class="card-footer d-flex flex-wrap">
                    <span th:each="tag:${post.tags}" th:text="${tag.tags.name}"
                          class="p-2 m-2 btn btn-outline-success "></span>
                    </div>
                    <div th:if="${show}">
                        <div class="card-footer d-flex justify-content-center">
                            <a th:href="@{/editPost/{id}(id=${post.id})}" class="btn btn-outline-primary">Edit</a>
                            <a th:href="@{/deletePost/{id}(id=${post.id})}" class="btn btn-outline-danger">Delete</a>
                            <div th:if="${!post.Published}">
                                <a th:href="@{/publishPost/{id}(id=${post.id})}"
                                   class="btn btn-outline-success">Publish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p hidden id="post123" th:text="${post.id}"></p>
    <div class="container p-2 my-3">
        <div class="row justify-content-center">
            <div id="commentContainer" class="col-12 col-md-8 border" style="height: 150px; overflow-x:scroll;">
                <div th:each="comment:${comments}" class="container border border-dark p-3 my-2" style="position: relative;">
                    <div th:if="${show}" class="d-flex flex-column" style="position: absolute; right: 0; top: 0;">
                        <a th:href="@{'/deleteComment/'+${comment.id}+'/'+${post.id}}" class="btn btn-danger p-1">[X]</a>
                        <a th:href="@{'/editComment/'+${comment.id}+'/'+${post.id}}" class="btn btn-info p-1">edit</a>
                    </div>
                    <div class="row flex-column justify-content-start align-items-start">
                        <p th:text="${comment.comment}" id="comment"></p>
                        <div class="col-12 d-flex justify-content-between">
                            <div th:text="${comment.user.name}" class="p-1" id="name"></div>
                            <div th:text="${comment.user.email}" class="p-1" id="email"></div>
                            <div th:text="${comment.createdAt}" class="p-1" id="time"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <form name="comment" th:action="@{'/addComment/'+${post.id}}" id="commentForm" method="POST">
                    <div class="form-group">
                    <textarea class="form-control" id="commentHere" name="comment"
                              placeholder="comment here..." required>[[${editComment!=null}?${editComment.comment}]]</textarea>
                    </div>
                    <div class="form-row justify-content-start align-items-end">
                        <div class="form-group col-4">
                            <input th:value="${editComment!=null}?${editComment.name}" type="text" class="form-control" id="userName" name="name" placeholder="enter your name"
                                   required>
                        </div>
                        <div class="form-group col-4">
                            <input th:value="${editComment!=null}?${editComment.mail}" type="text" class="form-control" id="mail" name="mail"
                                   placeholder="enter your mail">
                        </div>
                        <div class="form-group col-1">
                            <input type="submit" class="btn btn-outline-success">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>