<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymleafe.org/thymeleaf-extras-springsecurity3"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Blog</title>
    <style>
        .hideFilter{
            display: none;
        }
    </style>
</head>
<body>
<ul class="nav nav-tabs justify-content-center p-2 my-4">
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link " href="/addpost">Create Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/getallposts/0/?sortby=asc">All Blogs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/logout">logout</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link disabled" href="/profile">[[${name}]]</a>
    </li>
</ul>
<div class="container p-4 my-3">
    <div class="row justify-content-end align-items-start">
        <form action="/search" class="col-10 col-md-4">
            <div class="input-group mb-3 ">
                <input name="search" type="text" class="form-control" placeholder="Enter Tag or Auther or Content"
                       aria-label="Enter Tag or Auther or Content" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>
        <div class="col-10 col-md-3">
            <form th:action="@{'/getallposts/'+${number}+'/'}">
                <div class="form-group">
                    <select onchange="this.form.submit()" class="form-control" name="sortby" id="">
                        <option>sort by</option>
                        <option value="asc">newest first</option>
                        <option value="desc">oldest first</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-10 col-md-3 p-2 ">
            <button class="btn btn-primary" id="filterButton">Filter</button>
        </div>
    </div>
</div>
<div id="filterBox" class="container hideFilter"
     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);z-index:100000000;">
    <div class="row justify-content-center align-items-center">
        <div class="col-8 col-sm-8 col-md-8 col-lg-6 bg-light">
            <form th:action="@{/filter}" class="d-flex flex-column" method="post">
                <div id="tags" class="d-flex flex-wrap justify-content-start align-items-start border p-3 border-dark"
                     style="height: 200px;">
                    <div class="form-check form-check-inline" th:each="tag:${tags}">
                        <input name="tags" class="form-check-input" type="checkbox" th:id="${tag}" th:value="${tag}">
                        <label class="form-check-label" th:for="${tag}">[[${tag}]]</label>
                    </div>
                </div>
                <div id="users" class="d-flex flex-wrap justify-content-start align-items-start border p-3 border-dark"
                     style="height: 200px;">
                    <div class="form-check form-check-inline" th:each="user:${users}">
                        <input name="users" class="form-check-input" type="checkbox" th:id="${user}" th:value="${user}">
                        <label class="form-check-label" th:for="${user}">[[${user}]]</label>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center border p-3 border-dark"
                     id="date">
                    <div class="form-group">
                        <label for="date">select date</label>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <input type="submit" class="btn btn-outline-success form-control">
                    <button type="button" id="close" class="btn btn-danger">[X]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div th:each="post:${posts}" class="col-11 col-md-5 p-1 mx-1">
            <div class="card border-dark mb-3">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <div class="d-flex">
                        <h3 class="col-6 justify-content-center align-items-center" th:text="${post.author.name}"></h3>
                        <div class="d-flex col-6 flex-column align-items-end">
                            <span>Published at: <span th:text="${post.publishedAt}"></span></span>

                            <span>Last Updated: <span th:text="${post.updatedAt}"></span></span>
                        </div>
                    </div>
                </div>
                <div class="card-body text-primary">
                    <h4 th:text="${post.title}" class="card-title"></h4>
                    <p th:text="${post.excerpt}" class="card-text"></p>
                </div>
                <div class="card-footer d-flex flex-wrap">
                    <span th:each="tag:${post.tags}" th:text="${tag.tags.name}"
                          class="p-2 m-2 btn btn-outline-success "></span>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a th:href="@{/showPost/{id}(id=${post.id})}" class="btn btn-outline-success">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:if="${searchResult == null}">
    <div class="container">
        <div class="row justify-content-center">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    <li th:classappend="${i==number}?active:notActive" th:each="i:${#numbers.sequence(0,totalPages-1)}"
                        class="page-item ">
                        <a class="page-link" th:href="@{'/getallposts/'+${i}+'/?sortby='+${sortby}}">[[${i+1}]]</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
       document.getElementById("filterButton").addEventListener('click',(e)=>{
           document.getElementById("filterBox").classList.toggle("hideFilter")
       })
       document.getElementById("close").addEventListener('click',(e)=>{
           document.getElementById("filterBox").classList.toggle("hideFilter")
       })
</script>
</body>
</html>